:root{
    --dark-orange:rgb(245, 73, 0);
    --light-orange:rgb(255, 237, 212);
    --dark-green: rgb(69, 132, 59);
    --light-green: rgb(219, 252, 231);
    --dark-blue:rgb(73, 114, 235);
    --light-blue:rgb(219, 234, 254);
    --dark-red: rgb(251, 44, 54);
    --light-red:rgb(254, 242, 242);
    --dark-gray: rgb(35, 43, 54);
    --light-gray: rgb(72, 83, 100);
}

@media (max-width:992px) {
    .navbar{
        div{
            .collapse{
                .navbar-nav{
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: start !important;
                    padding-left: 20px;
                    width: fit-content !important;
                    margin-top: 20px;
                    div{
                        p{
                            display: block !important;
                        }
                        &:hover{
                            cursor: pointer;
                            color: var(--dark-orange);
                        }
                        &:hover svg{
                            cursor: pointer;
                            color: var(--dark-orange);
                        }
                    }
                }
            
            }
        }
    }
}