*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    svg{
        width: 25px;
    }
    img{
        width: 35px;
    }
}
:root{
    --dark-orange:rgb(245, 73, 0);
    --light-orange:rgb(255, 237, 212);
    --dark-green: rgb(69, 132, 59);
    --light-green: rgb(219, 252, 231);
    --dark-blue:rgb(73, 114, 235);
    --light-blue:rgb(219, 234, 254);
    --dark-red: rgb(251, 44, 54);
    --light-red:rgb(254, 242, 242);
    --dark-gray: rgb(35, 43, 54);
    --light-gray: rgb(72, 83, 100);
}
::-webkit-scrollbar{
    width: 8px;
    height: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 224, 224);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(172, 82, 82);
    cursor: pointer;
}

.navbar{
    div{
        .logo-container{
            align-items: center;
            .logo-box{
                background-color: var(--dark-orange) !important;
                padding: 15px !important;
                height: fit-content;
                svg{
                    width: 18px;
                }
            }
            .text-box{
                h3{
                    font-size: 25px;
                }
                p{
                    font-size: 15px;
                    color: var(--light-gray);
                }
            }
        }
    }
    .collapse{
        .navbar-nav{
            .icon-box{
                svg{
                    width: 20px;
                    color: var(--light-gray);
                    &:hover{
                        cursor: pointer;
                        color: var(--dark-orange);
                    }
                }
            }
            .icon-box:first-child{
                svg{
                    width: 15px;
                }
            }
        }
    }
}

section{
    background-color: rgb(255, 249, 236);
    display: flex;
    justify-content: center;
    .meal-container{
        width: 70%;
        min-width: 1000px;
        height: fit-content;
        max-height: 100vh;
        margin: 35px;
        border-radius: 25px;
        background-color: white;
        .img-box{
            width: 40%;
            border-radius: 25px 0 0 25px;
            background-image: url(/images/photo-1574894709920-11b28e7367e3.avif);
            background-size: cover;
            background-position: center;
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .ratings-box{
                background-color: aliceblue;
                padding: 10px 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                gap: 10px;
                width: fit-content;
                svg{
                    width: 20px;
                }
                p{
                    font-weight: bolder;
                    margin: 0;
                    span{
                        font-weight: lighter;
                    }
                }
            }
            .details-box{
                background-color: aliceblue;
                display: flex;
                justify-content: space-around;
                border-radius: 25px;
                padding: 25px;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    svg{
                        width: 25px;
                    }
                    p{
                        margin: 0;
                        font-size: 15px;
                        color: var(--light-gray);
                    }
                    p:last-child{
                        font-weight: bolder;
                        color: black;
                    }
                }
                div:first-child{
                    svg{
                        color: var(--dark-orange);
                    }
                }
                div:nth-child(2){
                    svg{
                        color: var(--dark-red);
                        width: 30px;
                    }
                }
                div:last-child{
                    svg{
                        color: var(--dark-blue);
                        width: 30px;
                    }
                }
            }
        }
        .text-box{
            width: 60%;
            border-radius: 0 25px 25px 0;
            padding: 45px;
            .meal-type{
                display: flex;
                gap: 15px;
                div{
                    background-color: grey;
                    padding: 3px 10px;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 15px;
                }
                div:first-child{
                    color: var(--dark-green);
                    background-color: var(--light-green);
                }
                div:last-child{
                    color: var(--dark-blue);
                    background-color: var(--light-blue);
                }
            }
            .title-description-box{
                display: flex;
                justify-content: space-between;
                align-items: start;
                .text-box{
                    border-radius: 0;
                    padding: 0;
                    h1{
                        font-weight: 700;
                        font-size: 45px;
                    }
                    p{
                        font-size: 18px;
                        color: var(--light-gray);
                    }
                }
                .logos-box{
                    display: flex;
                    gap: 10px;
                    div{
                        background-color: var(--light-orange);
                        padding: 12px 18px;
                        border-radius: 12px;
                        svg{
                            width: 12px;
                            color: var(--dark-orange);
                        }
                        &:hover{
                            cursor: pointer;
                            background-color: rgb(255, 225, 183);
                        }
                    }
                }
            }
        }
        .warning-box{
            background-color: var(--light-red);
            display: flex;
            align-items: center;
            height: fit-content !important;
            padding: 20px 25px;
            border-radius: 15px;
            gap: 25px;
            border-left: 5px solid var(--dark-red);
            .logo-box{
                svg{
                    color: var(--dark-red);
                }
            }
            .text-box{
                height: fit-content !important;
                width: fit-content !important;
                padding: 0;
                p{
                    margin: 0;
                }
                p:first-child{
                    color: darkred;
                    font-weight: 500;
                }
                p:last-child{
                    color: red;
                    font-size: 14px;
                }
            }
        }
        .four-main-details-box{
            .nav{
                padding: 15px;
                display: flex;
                justify-content: space-between;
                .nav-item{
                    .nav-link{
                        display: flex;
                        gap: 8px;
                        border: none;
                        color: var(--light-gray);
                        font-weight: 500;
                        svg{
                            width: 18px;
                        }
                        &:hover{
                            color: var(--dark-gray);
                        }
                    }
                    .nav-link.active{
                        color: var(--dark-orange);
                        border-bottom: 2px solid var(--dark-orange);
                    }
                }
                .nav-item:last-child{
                    .nav-link{
                        svg{
                            width: 14px;
                        }
                    }
                }
            }
            .tab-content{
                .ingredients-container{
                    height: fit-content;
                    max-height: 400px;
                    overflow: scroll;
                    width: 100%;
                    background-color: rgb(255, 250, 235);
                    border-radius: 25px;
                    .ingredient-box{
                        gap: 15px;
                        margin: 0;
                        padding: 0;
                        margin: 10px 0;
                        .num-box{
                            padding: 1px 9px;
                            background-color: var(--dark-orange);
                            height: fit-content;
                            width: fit-content;
                            border-radius: 50%;
                            p{
                                margin: 0;
                                padding: 0;
                                color: aliceblue;
                            }
                        }
                        p{
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                .instructions-container{
                    height: fit-content;
                    max-height: 400px;
                    overflow: scroll;
                    width: 100%;
                    .instructions-box{
                        gap: 15px;
                        margin: 0;
                        padding: 0;
                        margin: 30px 0;
                        align-items: center;
                        .num-box{
                            padding: 6px 16px;
                            background-color: var(--dark-orange);
                            height: fit-content;
                            width: fit-content;
                            border-radius: 15px;
                            p{
                                margin: 0;
                                padding: 0;
                                color: aliceblue;
                                font-size: 20px;
                                font-weight: 700;
                            }
                        }
                        p{
                            margin: 0;
                            padding: 0;
                            font-size: 18px;
                            color: var(--light-gray);
                        }
                    }
                }
            }
        }
        .random-btn{
            background: linear-gradient(to right, rgb(255, 102, 0), var(--dark-red));
            color: aliceblue;
            width: fit-content;
            display: flex;
            flex-direction: row;
            gap: 10px;
            outline: none;
            border: none;
            padding: 15px 25px;
            font-weight: 500;
            border-radius: 15px;
            transition: 0.25s;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            svg{
                width: 15px;
            }
        }
    }
}